*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    background-color: #377e80;
    color: #ffffff;
}

header button{
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    cursor: pointer;
}

.sub-container button{
    margin-right: 1rem;
}
