li {
    padding: 2rem;
    width: 20rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 4px 6px #2409ef, -2px -4px 6px rgba(0, 0, 255, 0.5);
    border-radius: 2rem;
}

img {
    margin-bottom: 0.9rem;
    width: 8rem;
    height: 10rem;
    object-fit: contain;
}

h2 {
    margin: 0.7rem 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

p {
    margin: 0.7rem 0;
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(94, 94, 94);
}

.buy-now {
    cursor: pointer;
    font-size: 1rem;
    width: 6rem;
    height: 2.2rem;
    background-color: #377e80;
    color: #ffffff;
    border-radius: 0.9rem;
    margin-top: 2rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.rating-button {
    width: 2rem;
    height: 1.5rem;
    background-color: #388e3c;
    border-radius: 0.3rem;
    color: #ffffff;
}

.fa-regular {
    color: #ffffff;
}

.container {
    margin-top: 1rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(50, 43, 43);
}

.price-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: smaller;
    padding-left: 0.5rem;
}

a{
    text-decoration: none;
    color: #000000;   
}

.cart-cart{
    display: none;
}