.fetch-fail {
  color: red;
  /* border: 1px solid red; */
  width: 40rem;
  height: 10rem;
  margin: 10rem auto;
  padding: 3.2rem;
  background-color: rgb(189, 183, 183);
  border-radius: 1rem;
}

.fetch-fail h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}